@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffbeb;
  font-family: "mono", sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: "mono";
  src: url(../public/fonts/PPSupplyMono-Regular.otf);
}
